<div class="dashboard-header-container card w-100">
  <h1>Dashboard</h1>
</div>
<div class="node-container">
  <h2>Nodes</h2>
  <div class="cards-area">
    <app-card-container (nodeClick)="onNodeClick($event)"></app-card-container>
  </div>
</div>
<div class="table-container">
  <div class="collection-heading">
    <div class="collection-db">
      <h3 class="custom-h3">Database:</h3>
      <span class="collection-db-value">food</span>
    </div>
    <div class="collection-name">
      <h3 class="custom-h3">Collection:</h3>
      <span class="collection-name-value">fruits</span>
    </div>
  </div>
  
  <div class="table-area">
    <app-table-container [dataArr]="tableArr"></app-table-container>
  </div>
</div>

<router-outlet></router-outlet>