/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

body{
    
}

.dashboard-header-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.node-container, .table-container, .dashboard-header-container{
    padding: 0.5em 2em;
}

.node-container{
    margin-bottom: 1em;

    .cards-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .shard1.card, .shard2.card{
            width: fit-content;
            margin: 0.25em 0.25em;
            padding: 0.5em;

            .shard-container{
                display: flex;
                flex-direction: row;
            }
        }
    
        .card{
            width: 12em;
            margin: 0.5em;
            cursor: pointer;
    
            .card-header{
                color: #ffffff;
                font-weight: bold;
    
                &.card-status-offline{
                    background-color: #dc3545!important;
                }
                &.card-status-online{
                    background-color: #28a745!important;
                }
            }
    
            .card-header, .card-body, .card-footer{
                text-align: center;
    
            }
    
            .card-footer{
                font-weight: 300;
                font-style: italic;
                font-size: 14px;
                padding-top: 0.5em;
                padding-bottom: 0.5em;

                &.empty{
                    display: none;
                }
            }

            &.active{
                border-color: #000000;
            }
        }
    }
}

.table-container{
    .collection-heading, .collection-name, .collection-db{
        display: flex;
        flex-direction: row;
        align-items: flex-end;
    }

    .collection-heading{
        margin-bottom: 0.25em;
    }

    .collection-name{
        padding-left: 2em;
    }
    .custom-h3{
        font-size: 24px;
        padding-right: 0.35em;
        margin: 0;
        line-height: 1;
    }

    .collection-name-value, .collection-db-value{
        font-size: 24px;
        line-height: 1;
    }
}